/**** Generics ****/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
} /* /reset */

body {
  background-color: black;
}

i {
  padding: 5px;
}

/**** /Generics ****/

/****** HEADER ******/

header {
  padding: 10px;
  color: #fff;
}
header > button {
  background-color: grey;
  color: #fff;
  padding: 3px;
  border-radius: 5px;
  font-size: 1.2em;
  margin-left: 10px;
}
#x {
  transform: rotate(45deg);
}
/****** /HEADER ******/

/****** MAIN ******/
main {
  overflow-y: overlay;
  flex-grow: 1;
}

main .grid {
  display: grid;
  grid-auto-flow: row;
  height: 100%;
  grid-template-columns: auto auto auto auto auto auto auto;
  gap: 1% 1%;
  padding: 2% 4%;
}
.item {
  background-image: url(https://picsum.photos/1900/1080);
  background-size: cover;
  position: relative;
}
.item > p {
  background-color: rgba(192, 192, 192, 0.3);
  position: absolute;
  bottom: 0;
  color: #fff;
}

/****** /MAIN ******/

/****** FOOTER ******/

footer {
  height: 10vh;
  background-color: hsl(0deg 0% 13%);
}
footer > div > .flex.al-center {
  padding: 0 10px;
}

footer button {
  font-size: 0.6em;
  text-transform: capitalize;
  color: #fff;
  border: 0;
  background-color: hsl(0deg 0% 13%);
}

footer button > i {
  font-size: large;
}

#end-meeting {
  background-color: hsl(0deg 0% 29%);
  color: red;
  padding: 0 20px;
}

/******  /FOOTER ******/

/********* UTILITIES *********/

.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.j-between {
  justify-content: space-between;
}
.j-center {
  /*justify-content: center;*/
}

.j-end {
  justify-content: flex-end;
}
.al-center {
  align-items: center;
}

.h100 {
  height: 100vh;
}
.green {
  color: rgb(3, 202, 3);
}
/********* /UTILITIES *********/
